.dasmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e2951d;
}
.dasim{
  height: 100px;
  position: absolute;
  top: 50px;
  left: 50px;
}