.dmain {
  height: 100vh;
  background-color: #e2951d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dcon {
  height: 600px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 90px;
  border-radius: 15px;
  background-color: #b4b7bb;
  overflow: hidden;
}
.de{
  /* font-size: large; */
}
.mainde{
  display: flex;
  justify-content: center;
}
.deimg{
  position: absolute;
  height: 120px;
  top: 100px;
  right: 400px;
}